@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: rgb(235, 235, 235);
}

/*Organizar la barra de navegación*/
nav .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem; 
    padding: 0 4rem;  
    background:#fff;
    
}

nav .wrapper .left,
nav .wrapper .right{

    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

}
nav .wrapper .left{
    padding.left: 5rem;
}

nav .wrapper .logo i{
    font-size: 2.5rem;
    cursor: pointer;
    color:#0a66c2
}

nav .wrapper .left .input{
    background: rgb(226,245,250);
    width: 100%;
    padding: 0.5rem 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;  
    border-radius: 0.2rem; 

}

/*Texto adentro de la barra de busqueda*/

nav .wrapper .left .input input[type='search']::placeholder{
    font-size: 0.7rem;
    color: gray;
}

/*Organizar los íconos*/

nav .wrapper .right .home,
nav .wrapper .right .red,
nav .wrapper .right .job,
nav .wrapper .right .mensaje,
nav .wrapper .right .notificaciones
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
}

nav .wrapper .right .home i
nav .wrapper .right .red i,
nav .wrapper .right .job i,
nav .wrapper .right .mensaje i,
nav .wrapper .right .notificaciones i{
    font-size: 1.2rem;
}

nav .wrapper .right .red ,
nav .wrapper .right .job ,
nav .wrapper .right .mensaje ,
nav .wrapper .right .notificaciones {
    color: gray;
}

nav .wrapper .right .red: hover,
nav .wrapper .right .job: hover,
nav .wrapper .right .mensaje: hover,
nav .wrapper .right .notificaciones: hover, 
nav .wrapper .right .me: hover{
    color: black;
}

/*Texto a la derecha*/
.wrapper a{
    text-decoration: none;
    font-size: 0.8rem;
    width: 7rem;
    text-align: center;
    cursor: pointer;
    color: gray;
}

.wrapper a:hover{
    text-decoration: underline;
}

/* ==============CONTAINER================= */

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
  .one {

    grid-column: 1;
    grid-row: 1 / 4;
    border: 10px solid rgb(253, 253, 253) ;
    background-color: white;
    margin: 1.5rem auto;
    margin-left: 60px;
    width: 75%;
    border-radius: 0.8rem;
    position: relative;
    overflow: hidden;
    height: 100%;

    position: sticky;
    
  }
  .two {    

    grid-column: 2 / 2;
    grid-row: 1 / 2;
    border: 10px solid rgb(253, 253, 253) ;
    background-color: white;
    border-radius: 0.8rem;

    margin: 1.5rem auto;
    margin-left: -50px;
    width: 125%;
    height: 150px;


  }
  .three {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    border: 10px solid rgb(253, 253, 253) ;
    background-color: white;

    margin: 1.5rem auto;
    margin-left: 60px;
    width: 75%;
    border-radius: 0.8rem;
    position: relative;
    overflow: hidden;
    height: 100%;

    position: sticky;
    
  }
  .four {
    grid-column: 2 / 2;
    grid-row: 2 / 10;
    border: 10px solid rgb(253, 253, 253) ;
    background-color: white;
    border-radius: 0.8rem;

    /* margin: 0.2rem auto; */
    margin-top: -20px;
    margin-left: -50px;
    width: 125%;
  }
  .five {
    grid-column: 1;
    grid-row: 4 / 6;
    border: 10px solid rgb(253, 253, 253) ;
    background-color: white;
    margin-left: 60px;
    width: 75%;
    border-radius: 1rem;
    margin-top: 5%;
  }
  .six {
    grid-column: 3 / 4;
    grid-row: 3 / 10;
    border: 10px solid rgb(253, 253, 253) ;
    background-color: white;
    margin-left: 60px;
    width: 75%;
    border-radius: 1rem;
    margin-top: 5%;
  }

  /* ==============CONTAINER END================= */

   .one{
       justify-content: center;
       align-items: center;
       font-size: 10px; 
       
   }
    .titulo{
       color: gray;
       
   } 

   /* BARRA GRIS PERFIL */

   .one .top{
       width: 100%;
       height: 11vh;
       background-color: gray;
       position: absolute;

   }

   /* IMAGEN PERFIL */

   .container .one .image img{
    border-radius: 50%;
   }

   .one .imagen{
    position: relative;
    left:35%;    
    top:6%;   
    
   }

 
 .container .one .perfil{
     position: relative;
     text-align: center;
     top: 10%;
     border-bottom: 1px solid gray;
     height: 8vh;

 }

 .container .view{
     position: relative;
     display:flex;
     flex-direction: column;
     padding: 0 1rem;
     top: 40px;  
     font-size: 1rem; 
     border-bottom: 1px solid gray; 
   
 }

 .container .view .views{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;

 }

 .container .view .views h6{
     color: gray;
 }


 .container .view .views a{
     color: rgb(13, 13, 156);
     text-decoration: none;

 }

 .container .premium{
    position: relative;
    display:flex;
    flex-direction: column;
    padding: 0 1rem;
    top: 50px;  
    font-size: 1rem; 
    border-bottom: 1px solid gray; 
    color: gray;
      
}

.container .premium .iconopremium{
    display: flex;
    justify-content: space-around;
    padding: 20px 30px 5px 20px;   
    
}
 
  /* .four{
      font-size: 10px;      
      justify-content: center;
  } */

  .five .enlace{
      color: rgb(19, 19, 165);     
      
  }

  /* =======CONTENEDOR MAIN PUBLICACIONES======== */

  .container .two .search{
      display: flex;
      gap: 1rem;
      padding: 1rem;

  }

  /* IMAGEN  */
  .container .two .search img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      
  }

  .container .two .search input{
      border-radius: 5rem;
      border: 1px solid gray;
      width: 90%;
      padding: 0 0.5rem;
      cursor: pointer;
  }

  .container .two .search input:hover{
      background: rgb(235, 229, 229);
  }

  /* =========BARRA ICONOS MAIN========= */

  .container .two .postear{
      display:flex;
      justify-content: space-between;
      margin: 0.5rem 2rem;
  }

  .container .two .postear .post{
      display: flex;
      gap: 1rem;
  }

  .container .two .postear .evento{
    display: flex;
    gap: 1rem;
}

.container .two .postear .articulo {
    display: flex;
    gap: 1rem;
}

.container .two .postear .post i{
    color: blue;
}

.container .two .postear .evento i{
    color: rgb(179, 117, 11);
}

.container .two .postear .articulo i{
   color: rgb(133, 13, 13);
}

.container .two .postear .post h5{
    font-weight: 400;
}

.container .two .postear .evento h5{
    font-weight: 400;
}

.container .two .postear .articulo h5{
    font-weight: 400;
}

 /* =========BARRA ICONOS MAIN END========= */


 /* =========CONTENEDOR TRES============== */

.container .three .news{

     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 1rem;
 }

 .container .three .news h5{
     font-weight: 400;
 }

 .container .three .perfil_uno{
     display: flex;
     gap: 1rem;
 }

 .container .three .perfil_uno h6{
     font-weight: 300;
     color:gray;
 }

 .container .three .perfil_dos{
    display: flex;
    gap: 1rem;
}
.container .three .perfil_dos h6{
    font-weight: 300;
    color: gray;
}

 .container .three .perfil_uno img{
    border-radius: 50%;
    width: 20%;
    height: 20%;
    
 }

 .container .three .perfil_dos img{    
        border-radius: 50%;  
        width: 20%;
        height: 20%;
         
     }

 .container .three .perfil_uno{
     padding: 1rem 0;
 }

 .container .three .perfil_dos{
    padding: 1rem 0;
}

/* ==========CONTENEDOR CUATRO========== */

.container .four .perfil_uno{
    display: flex;
    gap: 1rem;
    padding: 1rem 1rem;
    
}

.container .four .perfil_uno img{
    border-radius: 50%;
    width: 10%;
    height: 10%;
    
}

.container .four .perfil_uno h6{
    color: gray;
    font-weight: 300;
}

.container .four .info{
    text-align: left;
    font-weight: 300;
    font-size: 12px;
}



.container .four .imagen_dos img{

    width: 450px;
    height: 450px;
    position: relative;
    left:5%;    
    top:6%; 
    
}

.container .six img{
    border-radius: 5%;
    position: relative;
    left:2%;    
     
}


 
 

















